@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;600&display=swap');

body {
  font-family: 'Outfit', sans-serif;
  margin: -10px;
  padding: 0;
}
 
.App {
  text-align: center;
}

#footer .container .row {
  padding-bottom:8px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/**
* Gallery page CSS
*/

.galleryExplore {
  background-image: "";
  background-color: #c785c6;

  /* cursor: grab;
  overflow: auto;

  overflow-x: scroll; */

  width: 10000px;
}



.scrolling {
  cursor: grabbing;
  overflow: auto;
  user-select: none;
}

.notScrolling {
  cursor: grab;
  overflow: auto;
}

/*
* The following CSS modified from
* https://www.w3schools.com/howto/howto_css_switch.asp
*/
.sliderDiv {
  margin-top: 15px;
}

/* The switch - the box around the slider */
.switchTool {
  position: relative;
  display: inline-block;
  width: 150px;
  height: 65px;
  background-color: #3E4043;
  border-radius: 35px;
}

/* Hide default HTML checkbox */
.switchTool input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #7F3AD7;
  -webkit-transition: .4s;
  transition: .4s;

  border-radius: 10px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 50px;
  width: 50px;
  left: 8px;
  bottom: 8px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;

  border-radius: 10px;
}

#eraser:before {
  background-image: url("./eraser-thumb.PNG")
}

#pencil:before {
  background-image: url("./pencil-thumb.png")
}

#eraser-transition:before {
  background-image: url("./transitiontoeraser.gif")
}

#pencil-transition:before {
  background-image: url("./pencil-thumb.png")
}

input:checked+.slider {
  background-color: #3E4043;
}

input:focus+.slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
  -webkit-transform: translateX(85px);
  -ms-transform: translateX(85px);
  transform: translateX(85px);
}

.toolP {
  display: flex;
  justify-content: space-between;
}

/* Width Picker */
.selected {
  background-color: white;
  color: #7F3AD7;
  border: 8px solid #7F3AD7;
  border-radius: 50%;
  height: 54px;
  width: 54px;  
  padding-left: 5px;
  padding-right: 5px;

  font-family: 'Outfit', sans-serif;
  font-weight: 500;

}

.widthButton {
  background-color: #7F3AD7;
  border-radius: 35px;
  border: none;
  color: white;
  padding-left: 9px;
  padding-right: 9px;
  width: 54px;
  font-family: 'Outfit', sans-serif;
  font-weight: 500;
}

.linewidthpickerWrapper {
  background-color: #7F3AD7;
  height: 30px;
  width: 160px;
  margin-bottom: 15px;
  border-radius: 30px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding-top: 3px;
  padding-bottom: 3px;
}

/* Drawing Page */
p {
  font-family: 'Outfit', sans-serif;
}

.logo {
  width: 65%;
  display: flex;
  align-items: center;
}

.doneButton {
  width: 13.5vw;
  height: 7.9vh;
  background-color: #7F3AD7;
  border: none;
  border-radius: 7px;
  position: relative;
  box-shadow: .62vw .83vh #56466A;
  color: white;
  
  font-family: 'Outfit', sans-serif;
  font-weight: 500;

}

.doneButton:active {
  top: .83vh;
  left: .62vw;
  background-color: #6F34D8;
  box-shadow: none;
  
}

.undoButton {
  background-color: #3E4043;
  background-image: url('./undo-thumb.PNG');
  background-size: contain;
  width: 45px;
  height: 45px;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
}

.rightButton {
  background-color: #3E4043;
  width: 55px;
  height: 55px;
  border: none;
  border-radius: 50%;
  
}

.ideas {
  background-color: #FBD449 !important;
}

.drawingPage {
  display: flex;
  touch-action: none;

  background: linear-gradient(61.55deg, rgba(148, 75, 240, 0.04) 23.21%, rgba(113, 0, 255, 0) 88.59%),
    linear-gradient(0deg, #FFFFFF, #FFFFFF);

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */

}

.drawingPage .canvasComponent {
  height: 100vh;
  background-size: 40px 40px;
  background-image:
    linear-gradient(to right, lightgrey 1px, transparent 1px),
    linear-gradient(to bottom, lightgrey 1px, transparent 1px);
}

.drawingPage canvas {
  height: 100vh;
  box-sizing: border-box;
  border-top: 3px dotted darkgrey;
  border-bottom: 3px dotted darkgrey;
}

.brushStroke {
  margin-bottom: 20px;
}

.leftDrawing {
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.rightDrawing {
  width: 17.7%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:space-around;
}

.buttonDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.taskDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin-bottom: -40px;
}

.instructionsDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ideasDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.clearDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.currentColor {
  width: 12vw;
  height: 50px;
}




/* Popups */
.ideasPopup-overlay {
  width: 10vw;
  height: 5vh;
}

.purpleCreature {
  width: 8vw;
  height: 14vh;
  background-size: contain;
  background-image: url('data/assets/purplecreature.png');
  background-repeat: no-repeat;
}

.ideasBubble {
  width: 8vw;
  height: 14vh;
  background-size: contain;
  background-image: url('data/assets/textBubbleRight.png');
  background-repeat: no-repeat;
}

.instructionsContainer {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 44%);
  
}

.popupContent {
  position: absolute;
  left: 15vw;
  top: 5vh;

  display: flex;
  align-items: center;
}

.instPopupDiv {
  width: 10vw;
  height: 7vh;
  border: 2px solid black;
  background-color: white;
}

.orangeCreature {
  width: 8vw;
  height: 14vh;
  background-size: contain;
  background-image: url('data/assets/orangecreature.png');
  background-repeat: no-repeat;
}

.close {
  position: relative;
  left: -10px;
  top: -10px;
}

.highlighted {
  position: relative;
  z-index: 1000;
}

/* Color Picker */
.colorpickerWrapper {
  display: flex;
  flex-wrap: wrap;
  width: 130px;
}

.drawingPage .colorpickerWrapper>input {
  border-radius: 50px;
  border: none;
  width: 50px;
  height: 50px;
  margin-left: 10px;
  margin-top: 10px;

  -webkit-appearance: none;
  appearance: none;
}

.drawingPage .colorpickerWrapper>input:checked {
  border-radius: 50px;
  box-sizing: border-box;
  box-shadow: inset 0px 0px 0px 3px white;
  box-sizing: border-box;
  width: 50px;
  height: 50px;
  margin-left: 10px;
  margin-top: 10px;
}

.checkmark:after {
  top: 9px;
 left: 9px;
 width: 8px;
 height: 8px;
 border-radius: 50%;
 background: red;
}

/* Text */
.purpleP {
  color: #7F3AD7;
}

h2 {
  color: #3E4043;
  font-family: 'Outfit', sans-serif;
  font-weight: 500;
  margin-bottom: 5px;
}

h3 {
  color: #3E4043;
  font-family: 'Outfit', sans-serif;
  font-weight: 500;
  margin-bottom: 5px;
}

/* 
 * GALLERY PAGE
 */

.galleryImg {
  width: 150px;
  border: 20px solid lightgrey;
  border-radius: 20px;
  
  margin: 10px;
}

.galleryGrid {
  display: flex;
  justify-content: space-between;
}