@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;600;800&display=swap');

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Outfit', sans-serif;
  margin: 0px;
  padding: 0px;
}
 
.App {
  text-align: center;
}

#footer .container .row {
  padding-bottom:8px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/**
* Gallery page CSS
*/

.galleryExplore {
  background-image: "";
  background-color: #c785c6;

  /* cursor: grab;
  overflow: auto;

  overflow-x: scroll; */

  width: 10000px;
}





.scrolling {
  cursor: grabbing;
  overflow: auto;
  user-select: none;
}

.notScrolling {
  cursor: grab;
  overflow: auto;
}

/*
* The following CSS modified from
* https://www.w3schools.com/howto/howto_css_switch.asp
*/


/* The switch - the box around the slider */
.switchTool {
  position: relative;
  display: inline-block;
  width: 150px;
  height: 65px;
  background-color: #3E4043;
  border-radius: 35px;
}

/* Hide default HTML checkbox */
.switchTool input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.sliderBack {
  display: inline-block;
  width: 150px;
  height: 65px;
  border-radius: 35px;
  position: relative;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #7F3AD7;
  -webkit-transition: .7s;
  transition: .7s;

  border-radius: 10px;
}

.checked {
-webkit-transform: translateX(85px);
  -ms-transform: translateX(85px);
  transform: translateX(85px);
}

.sliderFront {
  position: absolute;
  content: "";
  height: 50px;
  width: 50px;
  left: 8px;
  bottom: 8px;
  background-color: white;
  -webkit-transition: .7s;
  transition: .7s;
  content: attr(toolswitch);
  border-radius: 10px;
}

input:checked+.slider {
  background-color: #3E4043;
}

input:focus+.slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
  -webkit-transform: translateX(85px);
  -ms-transform: translateX(85px);
  transform: translateX(85px);
}

.toolP {
  display: flex;
  justify-content: space-between;
}

/* Width Picker */
.selected {
  background-color: white;
  color: #7F3AD7;
  border: 8px solid #7F3AD7;
  border-radius: 50%;
  height: 54px;
  width: 54px;  
  padding-left: 5px;
  padding-right: 5px;

  font-family: 'Outfit', sans-serif;
  font-weight: 500;

}

.widthButton {
  background-color: #7F3AD7;
  border-radius: 35px;
  border: none;
  color: white;
  padding-left: 9px;
  padding-right: 9px;
  width: 54px;
  font-family: 'Outfit', sans-serif;
  font-weight: 500;
}

.linewidthpickerWrapper {
  background-color: #7F3AD7;
  height: 30px;
  width: 160px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding-top: 3px;
  padding-bottom: 3px;
}

/* Drawing Page */
p {
  font-family: 'Outfit', sans-serif;
  font-size: .8em;
}

.logo {
  width: 65%;
  display: flex;
  align-items: center;
}

.doneButton {
  width: 13.5vw;
  height: 7.9vh;
  background-color: #7F3AD7;
  border: none;
  border-radius: 7px;
  position: relative;
  box-shadow: .62vw .83vh #56466A;
  color: white;
  font-family: 'Outfit', sans-serif;
  font-weight: 500;

}

.doneButton:active {
  top: .83vh;
  left: .62vw;
  background-color: #6F34D8;
  box-shadow: none;
  
}

.undoButton {
  background-color: #3E4043;
  background-image: url('./undo-thumb.PNG');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 90px;
  height: 45px;
  border: none;
  border-radius: 5px;
}

.rightButton {
  background-color: #3E4043;
  width: 55px;
  height: 55px;
  border: none;
  border-radius: 50%;
  
}

.ideas {
  background-color: #FBD449 !important;
}

.drawingPage {
  display: flex;
  justify-content: space-evenly;
  touch-action: none;
  height: 100vh;

  background: linear-gradient(61.55deg, rgba(148, 75, 240, 0.04) 23.21%, rgba(113, 0, 255, 0) 88.59%),
    linear-gradient(0deg, #FFFFFF, #FFFFFF);

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */

}

.centerDrawing {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.drawingPage .canvasComponent {
  height: 500px;
  background-size: 40px 40px;
  background-image:
    linear-gradient(to right, lightgrey 1px, transparent 1px),
    linear-gradient(to bottom, lightgrey 1px, transparent 1px);
}

.drawingPage canvas {
  box-sizing: border-box;
  border-top: 3px dotted darkgrey;
  border-bottom: 3px dotted darkgrey;
}


.leftDrawing {
  width: 19vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  
}

.rightDrawing {
  width: 17.7%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:space-evenly;
}

.buttonDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.taskDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin-bottom: -30px;
}

.taskH2 {
  margin-bottom: -10px;
}

.instructionsDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ideasDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.clearDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.currentColor {
  width: 12vw;
  height: 50px;
}




/* Popups */
.assignmentPopup {
  width: 100vw;
  height: 100vh;
  background-color:rgba(0, 0, 0, 44%);
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1001;
}

.assignmentHead {
  position: absolute;
  left: 20%;
  top: 10%;
  width: 90%;
  height: 80%;
  background-image: url('data/assets/popups/head-ass.png');
  background-repeat: no-repeat;
  background-size: contain;
}

.assignmentBody {
  position: absolute;
  left: 20%;
  top: 10%;
  width: 90%;
  height: 80%;
  background-image: url('data/assets/popups/body-ass.png');
  background-repeat: no-repeat;
  background-size: contain;
}

.assignmentLegs {
  position: absolute;
  left: 20%;
  top: 10%;
  width: 90%;
  height: 80%;
  background-image: url('data/assets/popups/legs-ass.png');
  background-repeat: no-repeat;
  background-size: contain;
}

.ideasPopup-overlay {
  width: 0px;
  height: 200px;
}

.idea {
  width: 500px;
  height: 100px;
  position: absolute;
  left: 60vw;
  top: 20vh;
  display: flex;
}

.purpleCreature {
  width: 200px;
  height: 200px;
  background-size: contain;
  background-image: url('data/assets/popups/purplecreature.png');
  background-repeat: no-repeat;
}

.ideasBubble {
  width: 150px;
  height: 150px;
  background-size: contain;
  background-image: url('data/assets/popups/textBubbleRight.png');
  background-repeat: no-repeat;
  padding: 10px;
  padding-right: 30px;
}

.popupContent {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 44%);
}

.instPopupDiv {
  width: 10vw;
  height: 7vh;
  border: 2px solid black;
  background-color: white;
}

.orangeCreature {
  width: 8vw;
  height: 14vh;
  background-size: contain;
  background-image: url('data/assets/orangecreature.png');
  background-repeat: no-repeat;
}

.close {
  position: relative;
  background-color: white;
  border: 2px solid black;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
}


.nextButton {
  position: absolute;
  left: 44%;
  top: 86%;
  width: 175px;
  height: 40px;
  background-color: rgba(0, 0, 0, 14%);
  border: 2px solid white;
  border-radius: 4px;
  color: white;
  font-family: 'Outfit', sans-serif;
  font-weight: 500;
}

.ruleOne {
  width: 300px;
  height: 200px;
  background-size: contain;
  background-image: url('data/assets/popups/Rule-1.gif');
  background-repeat: no-repeat;
  position: absolute;
  left: 15vw;
  top: 5vh;
}

.ruleTwo {
  width: 300px;
  height: 200px;
  background-size: contain;
  background-image: url('data/assets/popups/Rule-2.gif');
  background-repeat: no-repeat;
  position: absolute;
  left: 17vw;
  top: 70vh;
}

.ruleThree {
  width: 300px;
  height: 200px;
  background-size: contain;
  background-image: url('data/assets/popups/Rule-3.gif');
  background-repeat: no-repeat;
  position: absolute;
  left: 40vw;
  top: 5vh;
}

.ruleFour {
  width: 300px;
  height: 200px;
  background-size: contain;
  background-image: url('data/assets/popups/Rule-4.gif');
  background-repeat: no-repeat;
  position: absolute;
  left: 64vw;
  top: 18vh;
}

.ruleFive {
  width: 300px;
  height: 200px;
  background-size: contain;
  background-image: url('data/assets/popups/Rule-5.gif');
  background-repeat: no-repeat;
  position: absolute;
  left: 60vw;
  top: 60vh;
}


/* Color Picker */
.colorpickerWrapper {
  display: flex;
  flex-wrap: wrap;
  width: 130px;
}

.drawingPage .colorpickerWrapper>input {
  border-radius: 50px;
  border: none;
  width: 50px;
  height: 50px;
  margin-left: 10px;
  margin-top: 10px;

  -webkit-appearance: none;
  appearance: none;
}

.drawingPage .colorpickerWrapper>input:checked {
  border-radius: 50px;
  box-sizing: border-box;
  box-shadow: inset 0px 0px 0px 3px white;
  box-sizing: border-box;
  width: 50px;
  height: 50px;
  margin-left: 10px;
  margin-top: 10px;
}

.checkmark:after {
  top: 9px;
 left: 9px;
 width: 8px;
 height: 8px;
 border-radius: 50%;
 background: red;
}

/* Text */
.purpleP {
  color: #7F3AD7;
}

h2 {
  color: #3E4043;
  font-family: 'Outfit', sans-serif;
  font-weight: 500;
  font-size: 1em;
}

h3 {
  color: #3E4043;
  font-family: 'Outfit', sans-serif;
  font-weight: 500;
  font-size: 1em;
}

/* GUIDE DOTS */
.thinDots {
  width: 200px;
  display: flex;
  justify-content: space-between;
}

.thickDots {
  width: 450px;
  display: flex;
  justify-content: space-between;
}

.topDotDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
}

.bottomDotDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dot {
  background-color: black;
  width: 12px;
  height: 12px;
  border-radius: 50%;
}
