.comboPage {
    margin-top: 5vh;
}

#completed {
    display: flex;
    justify-content: center;
}

#codes {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#finalImg {
    height: 85vh;
}

.creatureCodeBox, .bodyPartCodeBox {
    border: 4px dotted rgb(60, 0, 128);
    border-radius: 15px;
    padding: 10px;
    text-align: center;
}

a {
    border: 1px solid black;
    background-color: rgb(60, 0, 128);
    color: white;
    text-decoration: none;
    border-radius: 3px;
    padding: 10px;
    max-height: 3vh;
    text-align: center;
}

