.homePage {
    height: 100vh;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.homePage h2 {
    margin-top: 0;
}

.homePage a {
    padding: 10px;
    border-radius: 3px;
    color: white;
    text-decoration: none;
    background-color: #944BF0;
}

.homePage #logo {
    width: 70vw;
}