.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/**
* Gallery page CSS
*/

.galleryPage {
  background-image: "";
  background-color: #c785c6;

  cursor: grab;
  overflow: auto;

  width: 10000px;
}

.drawingPage {
  display: flex;
  touch-action: none;
}

.drawingPage .canvasComponent {
  height: 100vh;
  background-size: 40px 40px;
  background-image: linear-gradient(to right, lightgrey 1px, transparent 1px),
    linear-gradient(to bottom, lightgrey 1px, transparent 1px);
}

.drawingPage canvas {
  border-top: 3px dotted darkgrey;
  border-bottom: 3px dotted darkgrey;
}

.drawingPage .colorpickerWrapper > button {
  border-radius: 50px;
  width: 50px;
  height: 50px;
}

.combinePage {
  background-color: white;
}

#combinedImage {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}
